.main-chat
  .main-chat__header
    .main-chat__header--group
      %p.main-chat__header--group--name
        = @group.name
      .main-chat__header--group--member
        %p.main-chat__header--group--member--member
          Member : 
          %ul.main-chat__header--group--member--member--list
            - @group.users.each do |user|
              %li= user.name
    = link_to edit_group_path(@group), class:"main-chat__header--edit" do
      %p.main-chat__header--edit--bottun
        Edit
  .messages
    
    = render @messages

    

  .form
    .new_message
      = form_for [@group, @message], class: "input-box" do |f|
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'